---
const currentYear = new Date().getFullYear();
---

<footer class="footer footer-center p-6 bg-base-200 text-base-content mt-auto">
  <aside>
    <p>
      &copy; {currentYear} David Groves. 
      See <a href="https://github.com/davidgroves/www.fibrecat.org/" class="link link-hover link-primary" target="_blank" rel="noopener noreferrer">GitHub</a> for sources. 
      Built with <a href="https://astro.build/" class="link link-hover link-primary" target="_blank" rel="noopener noreferrer">Astro</a>.
    </p>
  </aside>
</footer>
